#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: hsla(113, 94%, 42%, 0.849);
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: hsl(0, 90%, 48%);
}